# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter Notebook Cache
.ipynb_checkpoints/

# Logs
*.log

# Trained Models
*.pkl

# Raw Dataset Files
data/raw/

# Environment Variables
.env

# VS Code Settings
.vscode/

# OS Files
.DS_Store
Thumbs.db